<div th:fragment="AuthorsTableOld" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="card mx-auto" style="min-height: 197px">
        <div class="card-header">
            Authors
        </div>
        <ul class="list-group list-group-flush">
<!--            TODO: Check if author has first name and lastname!-->
            <li
                    th:if="${book.primaryAuthorFirstName}"
                    class="list-group-item"
                    th:text="${book.primaryAuthorFirstName} + ' ' + ${book.primaryAuthorLastName}"
            >
            </li>
            <li
                    th:if="${book.secondaryAuthorFirstName}"
                    class="list-group-item"
                    th:text="${book.secondaryAuthorFirstName} + ' ' + ${book.secondaryAuthorLastName}"
            >

            </li>
            <li
                    th:if="${book.tertiaryAuthorFirstName}"
                    class="list-group-item"
                    th:text="${book.tertiaryAuthorFirstName} + ' ' + ${book.tertiaryAuthorLastName}"
            >
            </li>
        </ul>
    </div>
</div>

<div th:fragment="AuthorsTable" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="card mx-auto" style="min-height: 197px">
        <div class="card-header">
            Authors
        </div>
        <ul class="list-group list-group-flush">
            <li
                    th:each="author : ${book.authorDtos}"
                    th:if="${author.firstName}"
                    class="list-group-item"
                    th:text="${author.firstName} + ' ' + ${author.lastName}"
            >
        </ul>
    </div>
</div>