<div th:fragment="IconButtonGroup" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="btn-group">
        <a th:href="@{/book/{id}(id=${book.id})}"
           class="btn btn-outline-primary" type="button"
           data-toggle="tooltip" data-placement="left" title="Book details"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
        </a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/edit-book/{id}(id=${book.id})}"
           class="btn btn-outline-success" type="button"
           data-toggle="tooltip" data-placement="bottom" title="Edit book"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                 viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
        </a>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           th:href="'?clickedBook=' + ${book.id}"
           class="btn btn-outline-secondary"
           data-toggle="tooltip"
           data-placement="bottom"
           title="Delete book"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                 viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
        </a>
        <!--        Not sure if I should disable button or leave it clickable if max favorites is reached! -->
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user/book/{id}(id=${book.id})}"
           class="btn btn-outline-secondary" type="button"
           data-toggle="tooltip" data-placement="bottom" title="Add book to favorites"
           th:classappend="${reachedMaxFavorites && !book.favorited} ? 'btn-outline-secondary' : 'btn-outline-danger'"
           th:title="${(book.favorited) ? 'Remove from favorites' : (reachedMaxFavorites) ? 'Maximum favorites reached' : 'Add to favorites'}"
           th:disabled="${reachedMaxFavorites && !book.favorited}"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                 th:classAppend="${book.favorited} ? '-fill'" viewBox="0 0 16 16">
                <path th:unless="${book.favorited}"
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                <path th:if="${book.favorited}" fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
        </a>
<!--        <a-->
<!--                class="btn btn-outline-secondary"-->
<!--                onclick="copyToClipboard()"-->
<!--        >-->
<!--            <input type="text" th:value="@{~/book/${book.id}}" id="copyBookLink" hidden>-->
<!--            share-->
<!--        </a>-->
    </div>
</div>