<div th:fragment="TitleInputField">
    <div class="form-group row">
        <label for="titleLabel" class="col-md-3 col-form-label pr-1">Title</label>
        <div class="col-md-9 pl-1">
            <input
                    class="form-control"
                    id="titleLabel"
                    name="title"
                    placeholder="Enter the book's title"
                    th:field="*{title}"
                    type="text"
            />
        </div>
        <p th:errors="*{title}" class="text-danger ml-3" th:if="${#fields.hasErrors('title')}"></p>
    </div>
</div>

<div th:fragment="IsbnInputField">
    <div class="form-group row">
        <label for="isbnLabel" class="col-md-3 col-form-label pr-1">ISBN13</label>
        <div class="col-md-9 pl-1">
            <input
                    class="form-control"
                    id="isbnLabel"
                    name="isbn"
                    placeholder="Enter the book's ISBN13"
                    th:field="*{isbn}"
                    type="text"
                    style="
                        -webkit-appearance: none;
                        margin: 0;
                        -moz-appearance: textfield;
                    "
                    formnovalidate
            />
        </div>
        <p th:errors="*{isbn}" class="text-danger ml-3" th:if="${#fields.hasErrors('isbn')}"></p>
    </div>
</div>

<div th:fragment="PriceInputField">
    <!--    <label class="form-label">Price</label>-->
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">€</span>
        </div>
        <input
                class="form-control"
                type="text"
                name="price"
                placeholder="price"
                th:field="*{price}"
                step="0.01"
                style="
                    -webkit-appearance: none;
                    margin: 0;
                    -moz-appearance: textfield;
                "
                formnovalidate
        />
    </div>
    <p
            th:errors="*{price}" class="text-danger"
            th:if="${#fields.hasErrors('price')}"
    >
    </p>
</div>

<div th:fragment="AuthorInputField">
    <div class="form-group row">
        <label
                for="authorLabel" class="col-md-3 col-form-label pr-1"
                th:text="#{author} + ' ' + *{__${authorStat.index}__ + 1} + ':'">
        </label>
        <div class="col-md-4 px-1">
            <input type="text"
                   id="authorLabel"
                   th:field="*{authorDtos[__${authorStat.index}__].firstName}"
                   placeholder="First name"
                   class="form-control"
            />
        </div>
        <div class="col-md-5 pl-1">
            <input type="text"
                   th:field="*{authorDtos[__${authorStat.index}__].lastName}"
                   placeholder="Last name"
                   class="form-control"
            />
        </div>
        <p th:errors="*{authorDtos[__${authorStat.index}__]}" class="text-danger ml-3"></p>
    </div>
</div>

<div th:fragment="LocationInputField">
    <div class="form-group row">
        <label
                for="locationLabel" class="col-md-3 col-form-label pr-1"
                th:text="'Location ' + *{__${locationStat.index}__ + 1} + ':'">
        </label>
        <div class="col-md-3 px-1">
            <input type="text"
                   id="locationLabel"
                   th:field="*{locationDtos[__${locationStat.index}__].name}"
                   th:placeholder="#{placeName}"
                   class="form-control"
            />
        </div>
        <div class="col-md-3 px-1">
            <input type="text" max="300" step="1"
                   min="0"
                   th:field="*{locationDtos[__${locationStat.index}__].placeCode1}"
                   th:placeholder="#{placeCode1}"
                   class="form-control"
                   style="-webkit-appearance: none; margin: 0; -moz-appearance: textfield;"
            />
        </div>
        <div class="col-md-3 pl-1">
            <input type="text" max="300" step="1"
                   min="0"
                   th:field="*{locationDtos[__${locationStat.index}__].placeCode2}"
                   th:placeholder="#{placeCode2}"
                   class="form-control"
                   style="-webkit-appearance: none; margin: 0; -moz-appearance: textfield;"
            />
        </div>
        <p th:errors="*{locationDtos[__${locationStat.index}__]}" class="text-danger ml-3"></p>
    </div>
</div>