<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">IsBin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li th:class="${activePage == 'home'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" href="/home" th:text="#{navbar.home}"></a>
                </li>
                <li th:class="${activePage == 'book'} ? 'nav-item active dropdown' : 'nav-item dropdown'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarBookDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{navbar.books}">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarBookDropdown">
                        <a class="dropdown-item" th:href="@{/book/most-popular}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <td nowrap th:text="#{navbar.popular}"></td>
                        </a>

                        <div sec:authorize="hasRole('ROLE_USER')">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/user/favorites}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                                <td nowrap th:text="#{navbar.favorites}"></td>
                            </a>
                        </div>

                        <div sec:authorize="hasRole('ROLE_USER')">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/catalog">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                </svg>
                                <td nowrap th:text="#{navbar.catalog}"></td>
                            </a>
                        </div>

                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/add-book">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                                </svg>
                                <td nowrap th:text="#{navbar.addBook}"></td>
                            </a>
                        </div>
                    </div>
                </li>

                <li sec:authorize="hasRole('ROLE_OWNER')"
                    th:class="${activePage == 'owner'} ? 'nav-item active dropdown' : 'nav-item dropdown'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOwnerDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{navbar.ownerFunctions}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOwnerDropdown">
                        <a class="dropdown-item" href="/owner/registered-users">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                            </svg>
                            <td nowrap th:text="#{navbar.registeredUsers}"></td>
                        </a>
                    </div>
                </li>
            </ul>

            <div class="my-2 my-lg-0">
                <form
                        class="form-inline  my-2 my-lg-o mr-2"
                        sec:authorize="isAuthenticated()"
                        th:action="@{/user/search}"
                >
                    <div class="input-group">
                        <form
                                method="get"
                                role="form"
                                th:href="@{'/search{searchTerm}'}"
                                th:object="${searchDto}"
                        >
                            <div class="form-group">
                                <input
                                        class="form-control"
                                        id="title"
                                        name="title"
                                        th:placeholder="#{navbar.searchPlaceholder}"
                                        th:field="*{searchTerm}"
                                        type="text"
                                />
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{navbar.search}"></button>
                            </div>
                        </form>
                    </div>
                </form>
            </div>

            <ul class="navbar-nav my-2 my-lg-0" sec:authorize="isAuthenticated()">
                <li th:class="${activePage == 'profile'} ? 'nav-item active dropdown' : 'nav-item dropdown'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProfileDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{navbar.profile}">
                    </a>
                    <div th:object="${authenticatedUser}" class="dropdown-menu dropdown-menu-right p-2 mt-4"
                         aria-labelledby="navbarProfileDropdown"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                            <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                            <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                        </svg>
                        <td nowrap th:text="${authUsername}"></td>
                        <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                        <div class="dropdown-divider"></div>
                        <span th:each="role : ${authRoles}">
                            <span class="badge badge-success" th:text="${role.name}"></span>
                        </span>
                        <div class="dropdown-divider"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        <td nowrap th:text="#{navbar.favoritesList}"></td>
                        <div th:replace="~{components/UserComponents :: favbarNoText}"></div>
                        <div class="dropdown-divider"></div>
                        <div>
                            <a th:href="@{/logout}">
                                <button class="btn btn-outline-success my-2 my-sm-0"
                                        th:classappend="${activePage == 'logout' ? 'active' : ''}" th:text="#{navbar.logout}">
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="my-2 my-lg-0">
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                                th:classappend="${activePage == 'login' ? 'active' : ''}" th:text="#{navbar.login}">
                        </button>
                    </a>
                    <a th:href="@{/register}">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                                th:classappend="${activePage == 'register' ? 'active' : ''}" th:text="#{navbar.register}">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>