<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a book - IsBin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{components/navbar :: navbar}"></div>
<div th:replace="~{components/title :: title}"></div>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Book Form</h2>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">Successfully added new book</div>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/admin/book}"
                            th:object="${book}"
                    >
                        <div class="form-group mb-3">
                            <label class="form-label">Title</label>
                            <input
                                    class="form-control"
                                    id="title"
                                    name="title"
                                    placeholder="Enter the book's title"
                                    th:field="*{title}"
                                    type="text"
                            />
                            <p th:errors="*{title}" class="text-danger"
                               th:if="${#fields.hasErrors('title')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">ISBN13</label>
                            <input
                                    class="form-control"
                                    id="isbn"
                                    name="isbn"
                                    placeholder="Enter the book's ISBN13"
                                    th:field="*{isbn}"
                                    type="number"
                            />
                            <p th:errors="*{isbn}" class="text-danger"
                               th:if="${#fields.hasErrors('isbn')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Primary Author</label>
                            <input
                                    class="form-control"
                                    id="author_1"
                                    name="author_1"
                                    placeholder="Enter an author's name"
                                    th:field="*{author_1}"
                                    type="text"
                            />
                            <p th:errors="*{author_1}" class="text-danger"
                               th:if="${#fields.hasErrors('author_1')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label"> Second Author</label>
                            <input
                                    class="form-control"
                                    id="author_2"
                                    name="author_2"
                                    placeholder="Enter a second author's name"
                                    th:field="*{author_2}"
                                    type="text"
                            />
                            <p th:errors="*{author_2}" class="text-danger"
                               th:if="${#fields.hasErrors('author_2')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label"> Third Author</label>
                            <input
                                    class="form-control"
                                    id="author_3"
                                    name="author_3"
                                    placeholder="Enter a third author's name"
                                    th:field="*{author_3}"
                                    type="text"
                            />
                            <p th:errors="*{author_3}" class="text-danger"
                               th:if="${#fields.hasErrors('author_3')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label"> Price</label>
                            <input
                                    class="form-control"
                                    type="number"
                                    name="price"
                                    placeholder="price"
                                    th:field="*{price}"
                                    step="0.01"
                            />
                            <p th:errors="*{price}" class="text-danger"
                            th:if="${#fields.hasErrors('price')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>