<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a book - IsBin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{components/navbar :: navbar}"></div>
<div th:replace="~{components/title :: title}"></div>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Book Form</h2>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-success">Successfully added new book</div>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger" th:text="'Failed to save book: ' + ${param.errorMessage}"></div>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/admin/book}"
                            th:object="${book}"
                    >
                        <div th:replace="~{components/InputFields :: TitleInputField}"></div>
                        <div th:replace="~{components/InputFields :: IsbnInputField}"></div>
                        <div class="form-group mb-3">
                            <div th:replace="~{components/InputFields :: PriceInputField}"></div>
                        </div>
                        <hr class="hr" />
                        <div th:each="author : *{authorDtos}" class="form-group mb-3" id="authorContainer">
                            <div th:replace="~{components/InputFields :: AuthorInputField}"></div>
                        </div>
                        <hr class="hr" />
                        <div th:each="location : *{locationDtos}" class="form-group mb-3" id="locationContainer">
                            <div th:replace="~{components/InputFields :: LocationInputField}"></div>
                        </div>
                        <hr class="hr" />
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div th:replace="~{scripts/allScripts :: allScripts}"></div>
</body>
</html>