<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a book - IsBin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{components/navbar :: navbar}"></div>
<div th:replace="~{components/title :: title}"></div>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Book Form</h2>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">Successfully added new book</div>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/admin/book}"
                            th:object="${book}"
                    >
                        <div class="form-group mb-3">
                            <label class="form-label">Title</label>
                            <input
                                    class="form-control"
                                    id="title"
                                    name="title"
                                    placeholder="Enter the book's title"
                                    th:field="*{title}"
                                    type="text"
                            />
                            <p th:errors="*{title}" class="text-danger"
                               th:if="${#fields.hasErrors('title')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">ISBN13</label>
                            <input
                                    class="form-control"
                                    id="isbn"
                                    name="isbn"
                                    placeholder="Enter the book's ISBN13"
                                    th:field="*{isbn}"
                                    type="number"
                                    style="
                                        -webkit-appearance: none;
                                        margin: 0;
                                        -moz-appearance: textfield;
                                    "
                            />
                            <p th:errors="*{isbn}" class="text-danger"
                               th:if="${#fields.hasErrors('isbn')}"></p>
                        </div>
                        <div class="form-row mb-3">
                            <label class="form-label">Primary Author</label>
                            <div class="col">
                                <input
                                        class="form-control"
                                        id="primaryAuthorFirstName"
                                        name="primaryAuthorFirstName"
                                        placeholder="First name"
                                        th:field="*{primaryAuthorFirstName}"
                                        type="text"
                                >
                                <p
                                        th:errors="*{primaryAuthorFirstName}" class="text-danger"
                                        th:if="${#fields.hasErrors('primaryAuthorFirstName')}">
                                </p>
                            </div>
                            <div class="col">
                                <input
                                        class="form-control"
                                        id="primaryAuthorLastName"
                                        name="primaryAuthorLastName"
                                        placeholder="Last name"
                                        th:field="*{primaryAuthorLastName}"
                                        type="text"
                                >
                                <p
                                        th:errors="*{primaryAuthorLastName}" class="text-danger"
                                        th:if="${#fields.hasErrors('primaryAuthorLastName')}">
                                </p>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <label class="form-label">Secondary Author</label>
                            <div class="col">
                                <input
                                        class="form-control"
                                        id="secondaryAuthorFirstName"
                                        name="secondaryAuthorFirstName"
                                        placeholder="First name"
                                        th:field="*{secondaryAuthorFirstName}"
                                        type="text"
                                >
                                <p
                                        th:errors="*{secondaryAuthorFirstName}" class="text-danger"
                                        th:if="${#fields.hasErrors('secondaryAuthorFirstName')}">
                                </p>
                            </div>
                            <div class="col">
                                <input
                                        class="form-control"
                                        id="secondaryAuthorLastName"
                                        name="secondaryAuthorLastName"
                                        placeholder="Last name"
                                        th:field="*{secondaryAuthorLastName}"
                                        type="text"
                                >
                                <p
                                        th:errors="*{secondaryAuthorLastName}" class="text-danger"
                                        th:if="${#fields.hasErrors('secondaryAuthorLastName')}">
                                </p>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <label class="form-label">Tertiary Author</label>
                            <div class="col">
                                <input
                                        class="form-control"
                                        id="tertiaryAuthorFirstName"
                                        name="tertiaryAuthorFirstName"
                                        placeholder="First name"
                                        th:field="*{tertiaryAuthorFirstName}"
                                        type="text"
                                >
                                <p
                                        th:errors="*{tertiaryAuthorFirstName}" class="text-danger"
                                        th:if="${#fields.hasErrors('tertiaryAuthorFirstName')}">
                                </p>
                            </div>
                            <div class="col">
                                <input
                                        class="form-control"
                                        id="tertiaryAuthorLastName"
                                        name="tertiaryAuthorLastName"
                                        placeholder="Last name"
                                        th:field="*{tertiaryAuthorLastName}"
                                        type="text"
                                >
                                <p
                                        th:errors="*{tertiaryAuthorLastName}" class="text-danger"
                                        th:if="${#fields.hasErrors('tertiaryAuthorLastName')}">
                                </p>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">€</span>
                                </div>
                                <input
                                    class="form-control"
                                    type="number"
                                    name="price"
                                    placeholder="price"
                                    th:field="*{price}"
                                    step="0.01"
                                    style="
                                        -webkit-appearance: none;
                                        margin: 0;
                                        -moz-appearance: textfield;
                                    "
                                />
                                <!--min="0.01"-->
                                <!--max="99.99"-->
                            </div>
                            <p th:errors="*{price}" class="text-danger"
                            th:if="${#fields.hasErrors('price')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div th:replace="~{scripts/allScripts :: allScripts}"></div>
</body>
</html>