<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - IsBin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{components/navbar :: navbar}"></div>
<div th:replace="~{components/title :: title}"></div>





<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Registration</h2>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">You have successfully registered our app!</div>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/register/save}"
                            th:object="${user}"
                    >
                        <div class="form-group mb-3">
                            <label class="form-label">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input
                                        class="form-control"
                                        id="username"
                                        name="username"
                                        placeholder="Enter a username"
                                        th:field="*{username}"
                                        type="text"
                                />

                            </div>
                            <p th:errors = "*{username}" class="text-danger"
                               th:if="${#fields.hasErrors('username')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Email</label>
                            <input
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Enter email address"
                                    th:field="*{email}"
                                    type="email"
                            />
                            <p th:errors = "*{email}" class="text-danger"
                               th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Password</label>
                            <input
                                    class="form-control"
                                    id="password"
                                    name="password"
                                    placeholder="Enter password"
                                    th:field="*{password}"
                                    type="password"
                            />
                            <p th:errors = "*{password}" class="text-danger"
                               th:if="${#fields.hasErrors('password')}"></p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Register</button>
                            <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>